.fs-small {
    font-size: 12px;
}


.sublist-custom {
    left: 120px;
    top: 50px;
}


#more-options {
    width: 800px !important;
    display: none;
}

.carousel-item img {
    height: 45vh;
}

.product-dojo {
    max-height: 500px;
    /* z-index: 9999; */
}

.product-dojo img {
    width: 100%;
    height: 60%;
    /* max-width: 250px;
    max-height: 250px; */
}


.product-dojo a {
    text-decoration: none;
    color: black;
}


.carousel-control-next-icon, .carousel-control-prev-icon {
        z-index: 99999;
        color: purple !important;
        background-color: purple !important;
}