:root {
    --color-favorito: purple;
    --title-dojo-size: 23.5px;
    --primary: blue;
}


.contenedor-flex {
    background-color: aqua;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: var(--primary);
    padding: 5px;
    color: white;
    width: 50px;
    height: 50px;
    font-size: var(--title-dojo-size);
}