
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    background-color: black;
    padding: 20px 50px;
    color: white;
    height: 100px;
}


#header-blog {
    background-color: aqua;
    color: blue;
    padding: 1px;
}


/* #section-blog {
    border: 5px solid orange;
    padding: 20px;
}


.guion {
    border: 5px solid orange;
    padding: 20px;
} */



.detalles {
    padding: 20px 30px;
    border: none;
    font-size: 20px;
    background-color: purple;
}


/* agrupando multples selectores */
#section-blog, .guion {
    border: 5px solid red;
    padding: 20px;
    margin: 5px;
}


.add-cart {
    background-color: palegreen;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
}


button.add-cart {
    border: 5px solid purple;
    border-radius: 20px;
}


.btn-aplicar {
    padding: 20px 40px;
    background-color: palegreen;
    margin: 5px;
    border: none;
    font-size: 20px;
}



div#tarjeta-descuento {
    border: 5px solid palegreen;
    border-radius: 10px;
    margin: 10px;
}


/* div#tarjeta-descuento > div.cupon > div.precio > button.btn-aplicar {
    padding: 20px 40px;
    background-color: palevioletred;
    margin: 5px;
    border: none;
    font-size: 25px;
} */



#tarjeta-descuento > div > div > button {
    padding: 20px;
    background-color: orangered;
    margin: 5px;
    border: none;
    font-size: 25px;
}


#header-blog {
    height: 200px;
    position: relative;
}

.imagen-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1 ;
}


.imagen-start {
    position: absolute;
    right: 20px;
    bottom: 30px;
}



.imagen-start-2 {
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 90;
}


.bi-whatsapp {
    color: palegreen;
    font-size: 80px;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 90px;
    z-index: 999;
}